body {
    background-color: rgb(15 23 42 / 1);
    color: white;
    font-family: 'Calibre','Inter','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif;
    margin: 0; 
    margin: 0px;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
  }

  .inner-heading {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
  }


  .about-me-image {
    position: relative;
    width: 300px;
    height: 100%;
    display: block;
  }


.profile-img {
    width: 100%;
    height: 100%;
    display: block;
}

.about-me-image:before {
    content: "";
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="50" height="50" viewBox="0 0 256 256" xml:space="preserve"><defs></defs><g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" ><path d="M 24.347 90 c -0.525 0 -1.041 -0.207 -1.424 -0.596 L 0.576 66.748 c -0.768 -0.778 -0.768 -2.03 0 -2.809 l 22.346 -22.655 c 0.569 -0.578 1.431 -0.755 2.183 -0.446 c 0.751 0.308 1.241 1.039 1.241 1.851 v 20.623 C 59.419 62.257 86 35.158 86 2 c 0 -1.104 0.896 -2 2 -2 s 2 0.896 2 2 c 0 36.031 -29.452 65.344 -65.654 65.344 c -1.104 0 -2 -0.896 -2 -2 V 47.564 L 4.809 65.344 l 17.537 17.78 v -7.316 c 0 -1.104 0.896 -2 2 -2 s 2 0.896 2 2 V 88 c 0 0.812 -0.49 1.542 -1.241 1.851 C 24.859 89.951 24.602 90 24.347 90 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: white; fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" /></g></svg>');
    left: -128px;
    top: 100px;
    width: 50px;
    height: 50px;
    position: absolute;
}

.about-me-image:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    border: 2px solid white;
    top: 14px;
    left: 14px;
    z-index: -1;
}

*, ::before, ::after {
    box-sizing: inherit;
}

section {
    /* padding: 0px 150px; */
    margin: 0px auto;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0px 0px 10px;
    font-weight: 600;
    color: #ccd6f6;
    line-height: 1.1;
}

.menu-bar {
    justify-content: right;
    display: flex;
    flex-wrap: wrap;
}

ul {
    display: flex;
    gap: 35px;
    text-decoration: none;
    list-style-type: none;
    margin-right: 100px;
    margin-top: 35px;
}

a {
    color: #ccd6f6;
    text-decoration: none;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
}


.main-content {
    padding: 0px 150px;
    padding-bottom: 300px;
}


.main-description {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    height: 100vh;
    margin-top: -150px;
}




.main-content p {
    margin: 20px 0px 0px;
    max-width: 540px;
}

.main-content h1 {
    margin: 0px 0px 5px 4px;
    color: #64ffda;
    font-family: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
    font-size: clamp(14px, 5vw, 16px);
    font-weight: 400;
}


.email-link {
    color: #64ffda;
    background-color: transparent;
    border: 1px solid #64ffda;
    border-radius: 4px;
    padding: 1.25rem 1.75rem;
    font-size: 14px;
    font-family: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
    line-height: 1;
    text-decoration: none;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    margin-top: 50px;
    display: block;
}

.big-heading {
    margin: 0px;
    font-size: clamp(40px, 8vw, 80px);
}


h3.big-heading {
    margin-top: 5px;
    color: #8892b0;
    line-height: 0.9;
    color: #8892b0;
}



